<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
    <title>Shifumi Minimal</title>
</head>
<body style="text-align: center; margin-top: 100px;">
    <h1>Shifumi - Version Minimal</h1>

    <form method="post">
        <button name="player_choice" value="Pierre">✊ Pierre</button>
        <button name="player_choice" value="Feuille">✋ Feuille</button>
        <button name="player_choice" value="Ciseaux">✌️ Ciseaux</button>
    </form>

    {% if result %}
        <h2>Ton choix : {{ result.player }}</h2>
        <h2>Ordinateur : {{ result.computer }}</h2>
        <h2>Résultat : {{ result.result }}</h2>
    {% endif %}
</body>
</html>

